<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ 100logo" src="{{ .Site.BaseURL }}img/logo/100logo.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>
<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ AVFREE" src="{{ .Site.BaseURL }}img/logo/AVFREE-NEWX.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>
<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ AVFREE" src="{{ .Site.BaseURL }}img/logo/JAV.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>
<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ AVFREE" src="{{ .Site.BaseURL }}img/logo/loopyt-sinAsset1@4x.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>
<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ AVFREE" src="{{ .Site.BaseURL }}img/logo/MOVAVXCUT.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>
<a href="{{ .Site.Params.social.twitter }}" class="group -m-1 p-1" aria-label="Follow on Twitter" target="_blank"
  rel="nofollow">
  <img alt="โลโก้ AVFREE" src="{{ .Site.BaseURL }}img/logo/youlogo.png" width="80" height="40"
              decoding="async" class="h-6 w-auto object-contain text-center" loading="lazy" />
</a>